:host {
  display: block;
}

.page-globale {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contenu-centre {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.bgblanc { background-color: white; }
.bgrouge { background-color: #F25022; }
.bgvert { background-color: #7FBA00; }
.bgbleu { background-color: #00A4EF; }
.bgjaune { background-color: #FFB900; }